<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>

<h2>Create Recruiter Account</h2>

<form method="POST" action="/register">

<label>Username</label><br>
<input type="text" name="username" required><br><br>

<label>Password</label><br>
<input type="password" name="password" required><br><br>

<label>Confirm Password</label><br>
<input type="password" name="confirm_password" required><br><br>

<button type="submit">
Register
</button>

</form>

<a href="/login">Already have an account?</a>

</body>
</html>